.clima-box{
    padding: 50px;
    border-radius: 50px;
    background: linear-gradient(145deg, #ffffff, #e3e3e3);
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 30vw;
}
form {
    width: 100%;
}
form input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    font-size: 14px;
    padding: 4px;
    font-family: Montserrat, sans-serif;
}
.info-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}
.col-50{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.nombre-ciudad{
    font-size: 22px;
    font-weight: 600;
    width: 100%;
}
.pais{
    width: 100%;
    font-size: 12px;
}
img{
    width: 150px;
}
.estado-clima{
    width: 100%;
    font-size: 14px;
    margin-top: -30px;
    text-align: center;
}
.temperatura{
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
}